-- VIEW
view : Model -> Html Msg
view model =
  div [class "main-container"]
  [
  div [ class "image-container"] (List.indexedMap viewSearchResult model.results)
  ]


viewSearchResult : Int -> SearchResult -> Html Msg
viewSearchResult index result =
  div [ classList [("smallgrid", True), ("odd", ((index + 1) % 2 == 0)), ("even", ((index + 1) % 2 /= 0))]]
  [
    div [ class "description" ]
      [ div [ class "text-holder" ]
          [ h3 []
              [ text "Photographer:" ]
          , h2 []
              [ text result.user.username ]
          , p []
              [ text ("[Likes: " ++ (toString result.likes) ++ "]") ]
          ]
      ]
      ,
      div [ class "photo" ]
        [ img [ src (result.urls.small) ] []
        ]
  ]
